{% include "mobile/header_m.html" %}
    <div class="container">
        <div>
            <h1 class="center-align">{{ title }}</h1>
        </div>
    </div>
    <div class="container">
        <span class="new badge" data-badge-caption="{{ fecha }}">Publicado en</span>
    </div>
    <div class="container">
        {% for cat in categoria %}<span class="new badge" data-badge-caption="{{ cat }}">seccion</span>{% endfor %}
    </div>
    <div class="container">
        <img class="responsive-img" src="{{ img | img_main }}" alt="{{ title }}">
    </div>
    <div class="container">
        {% for cnt in content %}
            <p>{{ cnt | safe }}</p>
        {% endfor %}
    </div>
    <div class="container">
        {% if g.imgs %}
        {% for img in g.imgs %}
            <img class="responsive-img" src="{{ url_for('static', filename=img) }}" alt="{{ title }}">
        {% endfor %}
        {% endif %}
    </div>
    <div  id="tuits" class="container">
       
    </div>
    {% if tuit %}1
    <script src="https://platform.twitter.com/widgets.js"></script>
        <script>
        {% for tui in tuit %}
            twttr.widgets.createTweet("{{ tui }}", document.getElementById('tuits'));
        {% endfor %}
        </script>
    {% endif %}
    <div id="anclas" class="container">
        {% for a in anclas %}
            <a data-id="{{ a[0] }}" href="{{ url_for('content',id=a[0],url=a[1]) }}">{{ a[1] | tmp_atext }}</a>
        {% endfor %}
    </div>
    <script>
        var stories = [];
        var links = [];
        {% for ancla in anclas %}
            {% set img = ancla[3] | img %}
            links.push('{{ url_for("content",id=ancla[0],url=ancla[1]) }}')
            stories.push({
            url: "{{ url_for('static',filename=img) }}",
            header: {
                heading: '{{ ancla[2] | title }}',
                /*subheading: 'Posted 5h ago',*/
                profileImage: 'https://picsum.photos/1000/1000'
            }
        })
        {% endfor %}
        localStorage.setItem("stories",JSON.stringify(stories));
        localStorage.setItem("links",JSON.stringify(links));
    </script>
    <div id="stories"></div>
    <script src="/static/js/story.js"></script>

    
{% include "navbar.html" %}
{% include "mobile/footer_m.html" %}
