
{% include "mobile/header_m.html" %}
<nav>
    <div class="nav-wrapper">
      <ul id="nav-mobile" class="left">
        <li><i onclick="history.back()" class="material-icons">arrow_back</i></li>
      </ul>
      <a href="/" class="center brand-logo"><i class="material-icons">nature_people</i>Pipol</a>
      <ul class="right">
         <!--<li><a href="badges.html"><i class="material-icons">view_module</i></a></li>
            <li><a href="collapsible.html"><i class="material-icons">refresh</i></a></li>
            <li><a href="mobile.html"><i class="material-icons">more_vert</i></a></li>-->
        <li><a href="/search"><i class="material-icons">search</i></a></li>
      </ul>
    </div>
</nav>


    <div class="container">
        <div>
            <h1 style="font-size:35px" class="center-align">{{ title }}</h1>
        </div>
    </div>
    <div class="container">
        <span class="new badge" data-badge-caption="{{ fecha }}">Publicado en</span>
    </div>
    <div class="container">
        {% for cat in categoria %}<a href="{{url_for('show_cat',name=cat)}}"><span class="new badge" data-badge-caption="{{ cat }}">seccion</span><a>{% endfor %}
    </div>
    <div class="container">
        <img class="responsive-img" src="{{ img | img_main }}" alt="{{ title }}">
    </div>
    <div class="container">
        {% for cnt in content %}
            <p style="font-size: 22px;color: black;">{{ cnt | safe }}</p>
        {% endfor %}
    </div>
    <div class="container">
        {% if g.imgs %}
        {% for img in g.imgs %}
            <img class="responsive-img" src="{{ url_for('static', filename=img) }}" alt="{{ title }}">
        {% endfor %}
        {% endif %}
    </div>
    <div  id="tuits" class="container">
       
    </div>
    {% if tuit %}1
    <script src="https://platform.twitter.com/widgets.js"></script>
        <script>
        {% for tui in tuit %}
            twttr.widgets.createTweet("{{ tui }}", document.getElementById('tuits'));
        {% endfor %}
        </script>
    {% endif %}
    <div id="anclas" class="container">
        {% for a in anclas %}
            <a data-id="{{ a[0] }}" href="{{ url_for('content',id=a[0],url=a[1]) }}">{{ a[1] | tmp_atext }}</a>
        {% endfor %}
    </div>
    <script>
        var stories = [];
        var links = [];
        {% for ancla in anclas %}
            {% set img = ancla[3] | img %}
            links.push('{{ url_for("content",id=ancla[0],url=ancla[1]) }}')
            stories.push({
            url: "{{ url_for('static',filename=img) }}",
            header: {
                heading: '{{ ancla[2] | title }}',
                /*subheading: 'Posted 5h ago',*/
                profileImage: 'https://picsum.photos/1000/1000'
            }
        })
        {% endfor %}
        localStorage.setItem("stories",JSON.stringify(stories));
        localStorage.setItem("links",JSON.stringify(links));
    </script>
    <div id="stories"></div>
    <script src="/static/js/story.js"></script>

    
{% include "navbar.html" %}
{% include "footer.html" %}
