<footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Pipol sos voj y yo ... 🌚</h5>
          <p class="grey-text text-lighten-4">Pipol esta en su primera version , pronto sera un medio donde nostros los que vivimos las noticias
            la compartamos y no un 🧟 . Estamos pensando en rebautizarlo a OpenNews y descentralizado y proximamente 
            liberaremos el codigo fuente(ya esta listo pero la documentacion esta del carajo)
          </p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Secciones</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="/show/Política">Política 💩</a></li>
            <li><a class="grey-text text-lighten-3" href="/show/Economía">Economía 💵</a></li>
            <li><a class="grey-text text-lighten-3" href="/show/Opinión">Opinión 🤔</a></li>
            <li><a class="grey-text text-lighten-3" href="/show/Tecnología">Tecnología 📺</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2020 Copyright
      <a class="grey-text text-lighten-4 right" href="/sitemap.xml">Sitemap</a>
      </div>
    </div>
</footer>
</body>
</html>