{% macro avatar_text_der(img,alt,text) %}}
<div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="card-panel grey lighten-5 z-depth-1">
          <div class="row valign-wrapper">
            <div class="col s2">
              <img src="{{img}}" alt="{{alt}}" class="circle responsive-img"> <!-- notice the "circle" class -->
            </div>
            <div class="col s10">
              <span class="black-text">
                {{text}}
              </span>
            </div>
          </div>
        </div>
</div>
{%endmacro%}}

{% macro index_card(id,title,categoria,img, link)%}
    <figure>
        <img src="{{ img }}" loading="lazy" alt="{{ title }}">
        <figcaption style="font-size: 20px;color:black;font-weight: bold;"><a href="{{ link }}" style="color: black;">{{title}}</a>{% for cat in categoria %}<span class="new badge" data-badge-caption="{{ cat }}">seccion</span>{% endfor %}</figcaption>
    </figure>
{% endmacro%}

{% macro a_card(img,title,gancho,link) %}
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
      </div>
      <div class="card-content">
        <h6><a style="color: black;font-weight: bold;" href="{{ link }}">{{ title }}</a></h6>
      </div>
    </div>
{% endmacro %}